
@{
    ViewBag.Title = "HttpClient Mode";

    if (String.IsNullOrEmpty(ViewBag.ReportHtml))
    {
        Layout = "";
    } else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<h2>@ViewBag.Title</h2>

<p>
    <b><a href="@Html.Raw(ViewBag.reportUrl)" target="_blank">Report URL</a>:</b>
    <br />
    <pre>@ViewBag.reportUrl</pre>
</p>

<div class="container-fluid" style="border:solid 1.5px silver;border-style: inset">
    @Html.Raw(ViewBag.ReportHtml)
</div>

@if (!String.IsNullOrEmpty(ViewBag.errorMessage))
{
<div class="alert-danger">
    <h2>@ViewBag.ErrorTitle</h2>
    <p>@ViewBag.errorMessage</p>
    <ul>
        @foreach (var item in ViewBag.ErrorData)
        {
            <li>@item</li>
        }
    </ul>
    <p class="alert-warning">Stack Trace:<br />@ViewBag.ErrorStackTrace</p>
</div>
}
