
@{
    ViewBag.Title = "Reports Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>Your data, seen by the controller:</p>
<ul>
    <li>UserId: @ViewBag.userId</li>
    <li>HashToken: @ViewBag.HashToken</li>
    <li>TokenExpireDate: @ViewBag.TokenExpireDate</li>
</ul>

<h3>
    @Html.ActionLink("Access Report via HttpClient", "HttpClientMode", "Report")
</h3>
<h3>
    @Html.ActionLink("Access Report via JavaScript", "JavaScriptMode", "Report")
</h3>